<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">&#128187;Laptop Price Predictor</a>
      <br />
      <br />
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link text-dark"
              href="https://github.com/Kaibalya27/Laptop-price-predictor"
              >Source Code</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Contributors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">About This Project</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-md-center ">
          <div class="col-lg-6 text-right">
            <h1 class="display-4 text-dark">Estimate Your Choices</h1>
            <p class="lead text-dark display-5">
              Have a look at laptops that suits your expectations
            </p>
          </div>
        </div>
      </div>
    </section>
    <br />
    <br />
    <div class="container2">
      <h2 class="text-center">Enter Your Preferences</h2>
      <form id="predict-form" action="/predict" method="post">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Company">Company</label>
            <select id="Company" name='Company' class="form-control">
              <option value="" selected>Choose Laptop Company</option>
              <option value="Dell">Dell</option>
              <option value="Lenovo">Lenovo</option>
              <option value="HP">HP</option>
              <option value="Asus">Asus</option>
              <option value="Acer">Acer</option>
              <option value="MSI">MSI</option>
              <option value="Toshiba">Toshiba</option>
              <option value="Apple">Apple</option>
              <option value="Samsung">Samsung</option>
              <option value="Mediacom">Mediacom</option>
              <option value="Razor">Razor</option>
              <option value="Micrsoft">Microsoft</option>
              <option value="Vero">Vero</option>
              <option value="Xiaomi">Xiaomi</option>
              <option value="Chuwi">Chuwi</option>
              <option value="Fujitsu">Fujitsu</option>
              <option value="Google">Google</option>
              <option value="LG">LG</option>
              <option value="Huawei">Huawei</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="TypeName">Laptop Type</label>
            <select id="TypeName" name="TypeName" class="form-control">
              <option value="" selected>Choose Laptop Type</option>
              <option value="Notebook">Notebook</option>
              <option value="Gaming">Gaming</option>
              <option value="Ultrabook">Ultrabook</option>
              <option value="2 in 1 Convertible">2 in 1 Convertible</option>
              <option value="Workstation">Workstation</option>
              <option value="Netbook">Netbook</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Inches">Inches</label>
            <input
              type="number"
              class="form-control"
              id="Inches"
              name="Inches"
              placeholder="Enter screen size in inches"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="ScreenResolution">Screen Resolution</label>
            <select id="ScreenResolution" name="ScreenResolution" class="form-control">
              <option value="" selected>Select Screen Resolution</option>
              <option value="1920x1080">1920x1080</option>
              <option value="1366x768">1366x768</option>
              <option value="1600x900">1600x900</option>
              <option value="3840x2160">3840x2160</option>
              <option value="3200x1800">3200x1800</option>
              <option value="2880x1800">2880x1800</option>
              <option value="2560x1600">2560x1600</option>
              <option value="2560x1440">2560x1440</option>
              <option value="2304x1440">2304x1440</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="RAM">Ram (GB)</label>
            <select id="Ram" name="RAM" class="form-control">
              <option value="" selected>Select Ram Size</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="12">12</option>
              <option value="16">16</option>
              <option value="24">24</option>
              <option value="32">32</option>
              <option value="64">64</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="Weight">Weight (kg)</label>
            <input
              type="number"
              class="form-control"
              id="Weight"
              name="Weight"
              placeholder="Enter weight"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Touchscreen">Touchscreen</label>
            <select id="Touchscreen"  name="Touchscreen" class="form-control">
              <option value="" selected>Choose...</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="IPS">IPS</label>
            <select id="IPS" name="IPS" class="form-control">
              <option value="" selected>Choose...</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="CPU_Brand">CPU Brand</label>
            <select id="CPU_Brand" name="CPU_Brand" class="form-control">
              <option value="" selected>Select CPU Brand</option>
              <option value="Intel Core i7">Intel Core i7</option>
              <option value="Intel Core i5">Intel Core i5</option>
              <option value="Other Intel Processor">Other Intel Processor</option>
              <option value="Intel Core i3">Intel Core i3</option>
              <option value="AMD Processor">AMD Processor</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="HDD">HDD (GB)</label>
            <select id="HDD" name="HDD" class="form-control">
              <option value="" selected>Select HDD Size(In GB)</option>
              <option value="0">0</option>
              <option value="128">128</option>
              <option value="256">256</option>
              <option value="512">512</option>
              <option value="1024">1024</option>
              <option value="2048">2048</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="SSD">SSD (GB)</label>
            <select id="SSD" name="SSD" class="form-control">
              <option value="" selected>Select SSD Size(In GB)</option>
              <option value="0">0</option>
              <option value="8">8</option>
              <option value="128">128</option>
              <option value="256">256</option>
              <option value="512">512</option>
              <option value="1024">1024</option>
              
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="GPU_Brand">GPU Brand</label>
            <select id="GPU_Brand" name="GPU_Brand" class="form-control">
              <option value="" selected>Select Gpu Brand</option>
              <option value="Intel">Intel</option>
              <option value="Nvidia">Nvidia</option>
              <option value="AMD">AMD</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="os">Operating System</label>
          <select id="os" name="os" class="form-control">
            <option value="" selected>Select Operating System</option>
            <option value="Windows">Windows</option>
            <option value="Linux/No Os/Others">Linux/No Os/Others</option>
            <option value="Mac">Mac</option>
          </select>
          <br>
        <button  type="submit" class="btn btn-primary btn-block">
          Predict Price
        </button>
      </form>
    </div>
    <br>
    <br>
    {% if result %}
        <div class="mt-5">
            <h2>Prediction Result</h2>
            <div class="alert alert-success" role="alert">
                The predicted price of the laptop is ${{ result }}
            </div>
        </div>
        {% endif %}
    <br />
    <br />
    <h2>Contributors</h2>
    <br />
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Priyansu Pattanayak</h5>
            <p class="card-text">
              Aspiring Developer,Contibuted developing Frontend
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ITER, Sikhsha 'O' Anushandhan</li>
            <li class="list-group-item">Web Developement,Java</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="https://github.com/mavricx" class="card-link">Github</a>
            <a
              href="https://www.linkedin.com/in/priyanshu-pattanayak/"
              class="card-link"
              >Linkedln</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Kaibalya Mohapatra</h5>
            <p class="card-text">
              Ai,Ml and Data Science enthusiast</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ITER, Sikhsha 'O' Anushandhan</li>
            <li class="list-group-item">Photography</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="https://github.com/Kaibalya27" class="card-link">Github</a>
            <a
              href="https://www.linkedin.com/in/kaibalyamohapatra/"
              class="card-link"
              >Linkedln</a
            >
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Shaurav</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla,
              quos.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ITER, Sikhsha 'O' Anushandhan</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Github</a>
            <a href="#" class="card-link">Linkedln</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
         
          <div class="card-body">
            <h5 class="card-title">Shreya</h5>
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Voluptatum, aliquid!.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ITER, Sikhsha 'O' Anushandhan</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Github</a>
            <a href="#" class="card-link">Linkedln</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="script.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
